@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@font-face {
    font-family: 'nunito';
    src: url("../fonts/nunito/nunito.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}   
@font-face {
    font-family: 'TTdrugs';
    src: url("../fonts/ttdrugs/TTDrugsTrialRegular.otf") format("otf");
    font-weight: normal;
    font-style: normal;
}   

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-nunito: "nunito", sans-serif;
    --font-ttdrugs: "TTdrugs", sans-serif;
}

/* VARIABLES */

:root {
    --green-eco: #508B46;
    --dark-eco: #161616;
    --white-eco: #ffffff;
    --dark: #000;
    --border-eco: #F0F0F0;
}
/* TAMAÑOS DE TEXTO RELATIVC */
.parrafo-eco {
    font-size: clamp(0.8rem, 1.5vw, 1.2rem);
}
.navtext-eco {
    font-size: clamp(0.8rem, 1.5vw, 1.2rem);
}
.title {
    font-size: clamp(1.6rem, 5vw, 3rem);
}
.subtextTitle {
    font-size: clamp(1rem, 2vw, 1.6rem);
}
.subTitle {
    font-size: clamp(1.2rem, 2vw, 1.6rem);
}
.text {
    font-size: clamp(0.8rem, 3vw, 1rem);
}
/* RESETEO DE CONTENIDO */
html * {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}
/* p {
    font-family: "nunito";
} */

/* ANIMACIONES */
@keyframes moveLeft {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
    
}
@keyframes moveBottom {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
    
}
@keyframes navAnimation {
    0% {
        scale: 0;
        opacity: 0;
        transform: translateY(-100%);
    }
    50% {
        scale: 1;
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@keyframes navAnimationmove {
    0% {
        transform: translateY(-10%);
    }
    50% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-10%);
    }
}
/* CLASES */
.animationnav {
    animation: moveLeft 0.5s ease-in-out;
    animation-fill-mode: forwards;
}

.animationcart {
    animation: moveBottom 0.5s ease-in-out;
    animation-fill-mode: forwards;
}

.animationnav {
    animation: navAnimation 0.5s ease-in-out, navAnimationmove 2s ease infinite;
    animation-fill-mode: forwards;
}



/* MASCARA ABAJO */
.maskimage {
    mask-image: linear-gradient(black 80%, transparent);
}
.maskimage2 {
    mask-image: linear-gradient(black 60%, transparent);
}